canvas {
  height: 85vh;
  border: 2px solid white;
}

body {
  background-color: #22223b;
  font-family: "Press Start 2P", cursive;
  color: white;
  overflow: hidden;
}

.controls-container {
  margin-top: 100px;
  margin-left: 200px;
}

.game-container {
  text-align: center;
  
}

.right-container {
  margin-top: 100px;
  margin-left: 100px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

#score {
  margin-bottom: 10px;
}

#level {
  margin-bottom: 10px;
}

#lines {
  margin-bottom: 10px;
}

#stats {
  margin-top: 20px;
}

#pause-modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #22223b;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  text-align: center;
  width: 40%; /* Could be more or less, depending on screen size */
}

.button {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

.button:hover {
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}

.button:active {
  position:relative;
	top:1px;
}

.button2 {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.button2:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.button2:active {
	position:relative;
	top:1px;
}